
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}
a{
    text-decoration: none;
}
/**	Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
    height: 270px;
    background-image: url('../images/bg.jpg');
}
/* navbar */
.logo-container{
    width: 300px;
    display: flex;
    justify-content: center;
}
.img-fluid{
    width: 40%;
}
.nav-item{
    font-size: 1.5rem;
}
.nav-link{
    color: rgba(96, 68, 100, 0.767);
}
.nav-link:hover{
    color: rgba(218, 137, 255, 0.767);
}
h1{
    font-size: 1.3rem;
    color: rgba(145, 109, 151, 0.581);
    position: absolute;
    bottom: 5%;
}
/**	Main */
main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 62, 92, 0.146);
    padding-bottom: 4em;
}
/* seccion de nuestras cards*/
#productos{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{    
    position: relative;
    width: 370px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.118);
}
.card-img-top{
    width: 320px;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    gap: 30px;
}
/* cards galeria*/
.card-title{
    height: 60px;
}
.card-text{
    height: 150px;
}
.card-precio{
    font-size: 1.4rem;
    position: absolute;
    bottom: 90px;
}
/* botones drop down */
#filtros{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 70px;
}
.form-select{
    width: 600px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.118);
}

.btn{
    font-size: 1.1rem;
    padding: 6px 15px 6px 15px;
    margin: 5px;
}
.btn-primary{
    background: rgb(1, 62, 92);
    border: none;
}
.btn-primary:hover{
    background: rgb(0, 26, 39);
    border: none;
}

.btn-primary:active{
    --bs-btn-active-bg: rgb(81, 146, 178);
}
.btn-secondary{
    background: rgba(1, 62, 92, 0.509);
    border: none;
}
 /* ver mas modal estilos */
 .modal-dialog{
    display: flex;
    align-items: center;

 }

.card-img-vermas{
    width: 100%;
}
.img-carrito {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.producto-carrito {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* contador del carrito */
#carrito-contenedor {  /* Tamaño del ícono */
    color: #25003266;   /* Color del ícono */
    position: relative; /* Para posicionar el contador sobre el ícono */
    position: absolute;
    bottom: 5%;
    right: 10%;
}
#icono-del-carrito{
    font-size: 70px;
    cursor: pointer;
}
#contador-carrito {
    background-color: #bb7ef9;  
    color: white;  
    font-weight: bold;  
    padding: 15px 15px;  
    border-radius: 50%;  
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 16px; 
    width: 20px; 
    height: 20px; 
    display: flex;  
    align-items: center; 
    justify-content: center;  
}

form select {
    border-radius: 0.2em;
    padding: 0 3.4em 0 0.4em;
    font-size: 1.4em;
    font-weight: 400;
    text-align: left;
    border: solid 1px rgba(128, 128, 128, 0.356);
}

hr {
    margin: 1em 0%;
    width: 100%;
    height: 0.1em;
}

/**	Footer */
footer {
    width: 100%;
    padding: 3em;
    background-image: url('../images/bg.jpg');
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li, footer ul li a {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #57757a;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }
    header{
        position: relative;
    }
    #carrito-contenedor{
        position: absolute;
        top: 8;
        left: 10px;
    }
    #contador-carrito{
        left: 50px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #filtros{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .form-select{
        max-width: 70%;
    }
    .navbar-toggler{
        z-index: 999;
    }
}
@media screen and (max-width: 550px) {
    h1 {
        position: absolute;
        top: 10px;
    }
    .logo-container img{
        position: fixed;
        left: 30%;
        top: 90px;
    }
}
