
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**	Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
    height: 270px;
}
/* navbar */
.logo-container{
    width: 300px;
    display: flex;
    justify-content: center;
}
.img-fluid{
    width: 40%;
}
.nav-item{
    font-size: 1.5rem;
}
.nav-link{
    color: rgba(96, 68, 100, 0.767);
}
h1{
    font-size: 1.3rem;
    color: rgba(145, 109, 151, 0.581);
    position: absolute;
    bottom: 5%;
}
/**	Main */
main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 62, 92, 0.146);
}
/* seccion de nuestras cards*/
#productos{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{    
    position: relative;
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.118);
}
.card-img-top{
    width: 320px;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    gap: 30px;
}

/* botones drop down */
#filtros{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 70px;
}
.form-select{
    width: 600px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.118);
}
.card-precio{
    font-size: 1.4rem;
    position: absolute;
    bottom: 110px;
}
.btn{
    font-size: 1.2rem;
    padding: 6px 33px 6px 33px;
}
.btn-primary{
    background: rgb(1, 62, 92);
    border: none;
}
.btn-primary:hover{
    background: rgb(0, 26, 39);
    border: none;
}
.btn-primary:active{
    --bs-btn-active-bg: rgb(81, 146, 178);
}
.btn-secondary{
    background: rgba(1, 62, 92, 0.509);
    border: none;
}
 /* ver mas modal estilos */
 .modal-dialog{
    display: flex;
    align-items: center;
 }

.card-img-vermas{
    width: 100%;
}
.img-carrito {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.producto-carrito {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* contador del carrito */
#carrito-contenedor {  /* Tamaño del ícono */
    color: #25003266;   /* Color del ícono */
    position: relative; /* Para posicionar el contador sobre el ícono */
    position: absolute;
    bottom: 5%;
    right: 10%;
}
#icono-del-carrito{
    font-size: 70px;
    cursor: pointer;
}
#contador-carrito {
    background-color: #bb7ef9;  /* Color de fondo (puedes cambiarlo a rojo o dorado) */
    color: white;  /* Color del texto */
    font-weight: bold;  
    padding: 15px 15px;  /* Espaciado interno para que el número no toque los bordes */
    border-radius: 50%;  /* Redondear los bordes para hacerlo un círculo */
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 16px;  /* Tamaño de la fuente (puedes ajustarlo si es necesario) */
    width: 20px;  /* Ancho fijo para asegurar un círculo perfecto */
    height: 20px;  /* Alto fijo para asegurar un círculo perfecto */
    display: flex;  /* Usamos flexbox para centrar el número */
    align-items: center;  /* Centrar verticalmente */
    justify-content: center;  
}



form textarea {
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid #134f5c;
    padding: 0 0.5em;
    background: #d0e0e3;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #134f5c;
}

form select {
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid #134f5c;
    padding: 0 0.5em;
    background: #d0e0e3;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #134f5c;
}

hr {
    margin: 1em 0%;
    width: 100%;
    height: 0.1em;
}

/**	Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Montserrat';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
    color: #d0e0e3;
}

footer ul li a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: #d0e0e3;
}
